version: '3.9'

services:
  backend:
    build: .
    container_name: llm-lab-backend
    expose:
      - "8083"          
    ports:
      - "8083:8083"
    env_file:
      - .env
    volumes:
      - ./data:/app/data

  nginx:
    image: nginx:latest
    container_name: llm-lab-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
